.pd1{
	padding: 1%;
}

.ml2{
	margin-left: 2%;
}
.mt2{
	margin-top: 2%;
}
.mb2{
	margin-bottom: 2%;
}

p
{

	margin-left: 20px !important;
}



@media (min-width:1200px) 
{
  .container {
    width: 1250px !important;
}
}


@media (min-width:1500px) 
{
  .container {
    width: 1400px;
}
}


footer .list-inline {
    margin: 0;
    padding: 0
}


.fa {
    font: normal normal normal 14px/1 ;
        font-size: 14px;
        line-height: 1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-inverse {
    color: #fff;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}



.fa, .fa-stack {
    display: inline-block;
}

*, *::after, *::before {
    box-sizing: border-box;
}


.fa-circle-o:before {
    content: "\f10c"
}
.fa-circle:before {
    content: "\f111"
}
.fa-circle-o-notch:before {
    content: "\f1ce"
}
.fa-circle-thin:before {
    content: "\f1db"
}



.fa-stack-overflow:before {
    content: "\f16c"
}
.fa-stack-exchange:before {
    content: "\f18d"
}
.fa-twitter-square:before {
    content: "\f081"
}
.fa-twitter:before {
    content: "\f099"
}
.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a"
}
.fa-facebook-official:before {
    content: "\f230"
}
.fa-facebook-square:before {
    content: "\f082"
}

.fa-linkedin-square:before {
    content: "\f08c"
}
.fa-linkedin:before {
    content: "\f0e1"
}